@import '~@blueprintjs/core/lib/scss/variables';

.login-form-container {
  width: 500px;
  height: 250px;
  margin: 15% auto;

  h2 {
    color: $blue1;
    text-align: center;
  }

  .login-form {
    width: 80%;
    margin: 30px auto;

    .form-error {
      color: $red1;
    }

    input {
      margin-bottom: 20px;
      margin-top: 10px;
    }

    button {
      width: 160px;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }
}
